################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesktopFrien/bin/Debug/net8.0-windows
/DesktopFrien/obj
*.sln
*.csproj
*.user
